@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<h3 style="text-align: left;" class=" pn-section-18"><span id="3000-kalori-kas-geliştirme-beslenme-programı">3000 Kalori Kas Geliştirme Beslenme Programı</span></h3>

<table id="customers" class="border">
<thead>
<tr class="row-1 odd">
	<th class="column-1">&nbsp;</th><th class="column-2">Kalori</th><th class="column-3">Protein</th><th class="column-4">Karb</th><th class="column-5">Yağ</th>
</tr>
</thead>
<tbody class="row-hover">
<tr class="row-2 even">
	<td class="column-1">S&uuml;t 200 ml</td><td class="column-2">128</td><td class="column-3">7</td><td class="column-4">8</td><td class="column-5">7</td>
</tr>
<tr class="row-3 odd">
	<td class="column-1">Yulaf &ndash; 50 gram</td><td class="column-2">178</td><td class="column-3">6</td><td class="column-4">30</td><td class="column-5">3</td>
</tr>
<tr class="row-4 even">
	<td class="column-1">Yumurta 4 adet &ndash; b&uuml;t&uuml;n	</td><td class="column-2">300</td><td class="column-3">25</td><td class="column-4">1</td><td class="column-5">21</td>
</tr>
<tr class="row-5 odd">
	<td class="column-1">Domates 1 adet</td><td class="column-2">19</td><td class="column-3">1</td><td class="column-4">3</td><td class="column-5">0,2</td>
</tr>
<tr class="row-6 even">
	<td class="column-1">Peynir 2 dilim</td><td class="column-2">142</td><td class="column-3">10</td><td class="column-4">0</td><td class="column-5">11</td>
</tr>
<tr class="row-7 odd">
	<td class="column-1">Elma 1 adet</td><td class="column-2">78</td><td class="column-3">0,5</td><td class="column-4">17</td><td class="column-5">0,5</td>
</tr>
<tr class="row-8 even">
	<td class="column-1">Ara Toplam</td><td class="column-2">845</td><td class="column-3">49</td><td class="column-4">59</td><td class="column-5">42</td>
</tr>
<tr class="row-9 odd">
	<td class="column-1"></td><td class="column-2"></td><td class="column-3"></td><td class="column-4"></td><td class="column-5"></td>
</tr>
<tr class="row-10 even">
	<td class="column-1">Muz 2 adet</td><td class="column-2">142</td><td class="column-3">2</td><td class="column-4">32</td><td class="column-5">0,2</td>
</tr>
<tr class="row-11 odd">
	<td class="column-1">Badem 1 avu&ccedil;</td><td class="column-2">256</td><td class="column-3">8</td><td class="column-4">2</td><td class="column-5">24</td>
</tr>
<tr class="row-12 even">
	<td class="column-1">Ara Toplam</td><td class="column-2">398</td><td class="column-3">10</td><td class="column-4">34</td><td class="column-5">24</td>
</tr>
<tr class="row-13 odd">
	<td class="column-1"></td><td class="column-2"></td><td class="column-3"></td><td class="column-4"></td><td class="column-5"></td>
</tr>
<tr class="row-14 even">
	<td class="column-1">Tavuk G&ouml;ğs&uuml; / Hindi &ndash; 150 gram	</td><td class="column-2">164</td><td class="column-3">38</td><td class="column-4">0</td><td class="column-5">1</td>
</tr>
<tr class="row-15 odd">
	<td class="column-1">Pirin&ccedil; / Bulgur (pişmemiş) &ndash; 200 gram	</td><td class="column-2">700</td><td class="column-3">16</td><td class="column-4">152</td><td class="column-5">2</td>
</tr>
<tr class="row-16 even">
	<td class="column-1">Brokoli 200gr	</td><td class="column-2">52</td><td class="column-3">6</td><td class="column-4">5</td><td class="column-5">1</td>
</tr>
<tr class="row-17 odd">
	<td class="column-1">Ara Toplam</td><td class="column-2">916</td><td class="column-3">60</td><td class="column-4">157</td><td class="column-5">4</td>
</tr>
<tr class="row-18 even">
	<td class="column-1"></td><td class="column-2"></td><td class="column-3"></td><td class="column-4"></td><td class="column-5"></td>
</tr>
<tr class="row-19 odd">
	<td class="column-1">Tavuk G&ouml;ğs&uuml; / Hindi &ndash; 150 gram	</td><td class="column-2">164</td><td class="column-3">38</td><td class="column-4">0</td><td class="column-5">1</td>
</tr>
<tr class="row-20 even">
	<td class="column-1">Nohut yemeği (pişmiş) &ndash; 300 gram</td><td class="column-2">519</td><td class="column-3">17</td><td class="column-4">44</td><td class="column-5">28</td>
</tr>
<tr class="row-21 odd">
	<td class="column-1">Yoğurt 3 kaşık	</td><td class="column-2">80</td><td class="column-3">4</td><td class="column-4">5</td><td class="column-5">5</td>
</tr>
<tr class="row-22 even">
	<td class="column-1">&Ccedil;oban Salata 100 gram	</td><td class="column-2">42</td><td class="column-3">1</td><td class="column-4">2</td><td class="column-5">3</td>
</tr>
<tr class="row-23 odd">
	<td class="column-1">Ara Toplam</td><td class="column-2">805</td><td class="column-3">60</td><td class="column-4">51</td><td class="column-5">36</td>
</tr>
<tr class="row-24 even">
	<td class="column-1"></td><td class="column-2"></td><td class="column-3"></td><td class="column-4"></td><td class="column-5"></td>
</tr>
<tr class="row-25 odd">
	<td class="column-1">Genel Toplam</td><td class="column-2">2966</td><td class="column-3">179</td><td class="column-4">300</td><td class="column-5">106</td>
</tr>
</tbody>
</table>